.btn_regular {
  color: #f97316 !important;
  background: transparent !important;
  border: 1px solid #f97316 !important;
  z-index: 1;
  overflow: hidden;
}

.btn_regular:hover {
  color: #fff !important;
  border: 1px solid transparent !important;
  background-color: #f97316 !important;
}
